*{
    margin:0px;
    box-sizing: border-box;
    text-decoration: none;
    background-color: #EFECE9;
}

/*FONTE--------------------------------------------------*/
h1{
    background-color: black;

    font-family: 'avenir', sans-serif;
    font-weight: lighter;
    color: white;

    margin-bottom: 1%;
}

h2{
    font-family: 'avenir', sans-serif;
    font-weight: lighter;
    color: #BA4253;
    letter-spacing: 2px;
}

h3{
    font-family: 'avenir', sans-serif;
    font-weight: lighter;
    color: #7E99C5;
}

a{
    font-family: 'avenir', sans-serif;
    font-weight:lighter;
    color: black;
    text-decoration: none;
}

p{
    font-family: 'nixie one', 'american typewriter', serif;
    font-weight: lighter;
    line-height: 2;
}

.citat{
    font-size: larger;
}

#laptopoverskrift{
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
}

#tabletoverskrift{
    padding-top: 15%;
    padding-bottom: 5%;

    text-align: center;
}

#mobiloverskrift{
    margin-top: 10%;
    padding-top: 10%;
    margin-bottom: 10%;
    text-align: center;
}


.midten{
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
}

.midten_tablet{
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

.midten_mobil{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

#in_overskrift{
    text-align: center;

    margin-left: 43%;
    margin-right: 43%;
    /*fit content virker ikke, da denne ikke vil centraliseres*/
}

#in_overskrift_t{
    text-align: center;

    margin-left: 30%;
    margin-right: 30%;
}

#in_overskrift_m{
    text-align: center;

    margin-left: 15%;
    margin-right: 15%;
}

#sport_overskrift{
    margin-right: 85%;
    padding-left: 0.5%;
}

#rejse_overskrift{
    margin-right: 90.5%;
    margin-left: 0.5%;
}


#rejse_overskrift_2{
    text-align: left;
    padding-left: 0.5%;
}
#rejse_overskrift_t{
    margin-right: 80%;
    margin-top: 10%;
    margin-left: 2%;
}

#rejse_overskrift_m{
    margin-right: 60%;
    transform: scale(1.25) translate(60%);
}

.rejse{
    font-family: 'avenir', sans-serif;
    font-weight: lighter;
    color: black;
    background-color: #7E99C5;

    padding-left: 2%;
    padding-top: 2%;
}

.rejse_lys{
    font-family: 'avenir', sans-serif;
    font-weight: lighter;
    color: black;
    background-color: #D7E4F9;

    padding-left: 2%;
    padding-top: 2%;
}

.rejsetider_dark p{
    font-family: 'avenir', sans-serif;
    font-weight: lighter;

    margin-top: 2%;
}

.rejsetider_light p{
    font-family: 'avenir', sans-serif;
    font-weight: lighter;

    margin-top: 2%;
}

.rejsetider_dark .knap{
    margin-bottom: 2%;
}

.rejsetider_dark img{
    padding-top: 10%;
}

.rejsetider_lys .knap{
    margin-bottom: 2%;
}

.rejsetider_lys img{
    padding-top: 10%;
}

.mobilbus_cykel{
    width: auto;
}

/*KNAPPER--------------------------------------------------------*/
.navigationsknap{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-style: solid;
    border-radius: 100%;
    border-width: 0.5px;

    width: 120px;
    height: 120px;
}

.navigationsknap:hover{
    background-color: #F1CC5B;
    transition-property:background-color; 
    transition-duration: 0.3s;
}

#boligknap{
    background-color: #BA4253;
    color: white;
    border-color: black;
}

#boligknap:hover{
    background-color: #F1CC5B;
    transition-property:background-color; 
    transition-duration: 0.3s;
}

.knap{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.knap a{
    color: white;

    box-sizing: border-box;
    border-style: solid;
    border-color: black;
    border-radius: 100%;
    border-width: 0.5px;

    width: 200px;
    height: 200px;

    background-color: #BA4253;
       
    padding-top: 50%;
    margin-bottom: 10%;
}

.knap a:hover{
    background-color: #F1CC5B;
    transition-property:background-color; 
    transition-duration: 0.3s;
}

.kort img:hover{
    transform: scale(1.1);
    transition-duration: 0.3s;
}

.some{
    width: 60px;
    margin-right: 10px;
    margin-top: 2%;
}

.some:hover{
    transform: scale(1.1);
    transition-duration: 0.3s;
}

#kryds{
    width: 13.33px;
}

.link{
    font-family: 'nixie one', 'american typewriter', serif;
    color:#BA4253;
}

.mobilknap{
    background-color: transparent;
    position: relative;
    transform: translate(90%,-0%);
}

.mobilknap img{
    width: 80px;
    height: 80px;
    background-color: transparent;
}

.tabletknap{
    background-color: transparent;
    margin-right: 2%;
    margin-bottom: 2%;
}

.tabletknap img{
    width: 100px;
    height: 100px;
    background-color: transparent;
}

/*HEADER------------------------------------------------------*/
/*laptop*/
header{
    padding-top: 1%;
    padding-bottom: 2%;

    /*margin-bottom: 10%;*/

    position: sticky;

    width: 100%;

    border-bottom: black;
    border-style: solid;
    border-width: 0.5px;
}

nav{
    display: flex;
    justify-content: space-between;
    margin-left: 40%;
    margin-right: 5%;
}

nav div{
    display: flex;
    justify-content: center;
    gap: 2%;

    margin-top: 5%;
}

nav #søg{
    margin-left: 20%;
    margin-top: 5%;
}

#logo{
    position: absolute;
    z-index: 1;

    margin-top: 2%;
    margin-left: 5%;

    width: 185px;
}

#logo:hover{
    transform: scale(1.1);
    transition-duration: 0.3s;
}

#logo_mellem{
    position: absolute;
    z-index: 1;

    margin-left: 5%;

    width: 150px;
}

#logo_mobil{
    position: absolute;
    z-index: 1;

    margin-left: 5%;

    width: 80px;
}

main img{
    width: 100%;
    height: 100%;
}

/*tablet/mobil*/
.mobilikoner{
    width: 35px;
}

.mobilmenu{
    display: flex;
    justify-content: flex-end;
    gap:1%;

    margin-right: 5%;
    margin-top: 5%;
}

/*MAIN----------------------------------------------------------*/
/*indkøbs site*/
#indkob{
    display: flex;
    justify-content: center;

    margin-bottom: 20%;
    margin-top: 10%;
}

#indkob img{
    width: auto;
}

#indkob_t{
    display: flex;
    justify-content: center;

    margin-bottom: 30%;
    margin-top: 20%;
}

#indkob_t img{
    width: auto;
}

#indkob_m{
    display: flex;
    justify-content: center;

    margin-bottom: 60%;
    margin-top: 20%;
}

#taske{
    margin-left: 1%;
    margin-top: 1%;
}

#net{
    margin-top: 2%;
}

/*billeder og tegninger*/


.p500px{
    width: 500px;
}

.p350px{
    width: 350px; 
}

.p500pxtilt{
    width: 500px;
    transform: rotate(-11deg);
}

.ptilt{
    width: 500px;
    Transform: rotate(7deg) translate(110%,-90%);
}

#ptilt_frivilligbillede{
    width: 500px;
    Transform: rotate(7deg) translate(110%,-90%);
}

#frivilligbillede{
    width: 500px;
}

#tegning{
    width: auto;

    transform: translate(290%, -60%);
    background-color: transparent;
}

.tegning_blomst{
    width: auto;

    transform: translate(0%, -50%);  
    background-color: transparent;
}

#tegning_10kg{
    width: auto;
    transform: translate(130%,-260%);
    background-color: transparent;
}

#tegning_kaffe{
    width: auto;
    transform: translate(-70%,10%) rotate(25deg);

    background-color: transparent;
}

#tegning_flaske{
    width: auto;

    transform: translate(120%,-220%);
    background-color: transparent;
    
}

/*kort*/
.kort {
    display: flex;
    justify-content: center;
    gap:2%;
    flex-wrap: wrap;
}

.kort img{
    width: 500px;
}

.kort a{
    margin-bottom: 2%;
}

.kort_mobil{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2%;
}

.kort_mobil img{
    width: 160px;
    padding-bottom: 5%;
    padding-top: 5%;
}

/*kasse*/
.kasse{
    display: flex;
    justify-content: center;
    gap: 10%;

    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

.tablet_mobil{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

.laptopskrift{
    width: 500px;
}

.mobilfoto{
    margin-bottom: 10%;
}

.mobilfotos{
    display: flex;
    justify-content: space-between;
    gap: 5%;

    margin-bottom: 5%
}

.mobilfoto img{
    width:350px;

}

.mobilfotos img{
    width: 160px;
    height: auto;
}

.tabletfotos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    margin-top: 2%;
    margin-bottom: 2%;
}

#laptop_tablet{
    margin-bottom: 5%;
}

/*forside*/
#forside{
    background-image: url(images/startside.png);
    width: 100%;
    height: 702.24px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    box-sizing: border-box;
    padding-top: 10%;
}

#forside_l p{
    background-color: black;

    margin-bottom: 1px;
    padding-left: 1%;

    font-family: 'avenir', sans-serif;
    font-weight: lighter;
    color: white;

    margin-left: 10%;
    margin-right: 81%;
}

#forside_l{
    background-color: transparent;
}

#forside_l h1{
    padding-left: 1%;
    margin-left: 10%;
    margin-right: 67%;
}

#forside_t{
    background-color: transparent;
}

#forside_t h1{
    padding-left: 1%;
    margin-left: 10%;
    margin-right: 45%;
}

#forside_t p{
    background-color: black;

    margin-bottom: 1px;
    padding-left: 1%;

    font-family: 'avenir', sans-serif;
    font-weight: lighter;
    color: white;

    margin-left: 10%;
    margin-right: 73%;
    margin-top: 20%;
}

#forside_m{
    background-color: transparent;
}

#forside_m h1{
    padding-left: 1%;
    margin-left: 10%;
    margin-right: 20%;

    text-align: center;
    transform: translate(6%);
}

#forside_m p{
    background-color: black;

    margin-bottom: 2px;
    padding-left: 1%;

    font-family: 'avenir', sans-serif;
    font-weight: lighter;
    color: white;

    margin-left: 10%;
    margin-right: 50%;

    margin-top: 40%;

    text-align: center;
    transform: translate(50%);
}

/*infosider*/
#overskrift{
    margin-top: 10%;
    margin-bottom: 5%;

    padding-left: 2%;
}

.info{
    margin-left: 10%;
    padding-top: 10%;

    width: 500px;;
}

.info_dark{
    display: flex;
    justify-content: left;
    padding-left: 2%;

    background-color: #7E99C5;

    z-index: 1;
    transform: translateY(-200px);

    padding-top: 5%;
    padding-bottom: 5%;
}

.info_dark div{
    padding-left: 2%;

    background-color: #7E99C5;
}

.info_dark h2{
    background-color: #7E99C5;
}

.info_dark h3{
    color: #D7E4F9;
    background-color: #7E99C5;
}


.info_dark p{
    background-color: #7E99C5;
}

.info_dark img{
    width: 500px;
    height: auto;
    background-color: #D7E4F9;
}

.info_dark .knap{
    margin: auto;
}

.info_light{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    padding-left: 2%;

    background-color: #D7E4F9;

    z-index: 1;
    transform: translateY(-200px);

    padding-top: 5%;
    padding-bottom: 5%;
}

.info_light h3{
    background-color: #D7E4F9;
}

.info_light h2{
    background-color: #D7E4F9;
}
.info_light div{
    padding-left: 2%;

    background-color: #D7E4F9;
}

.info_light img{
    width: 500px;
    height: auto;
    background-color: #D7E4F9;
}

.info_light p{
    background-color: #D7E4F9;
}

.info_light .knap{
    margin: auto;
}


/*rejsetider*/

.rejsetider_dark{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 20%;

    background-color: #7E99C5;
}

.rejsetider_dark div{
    padding-left: 2%;

    background-color: #7E99C5;
}

.rejsetider_dark div img{
    width: auto;
    height: auto;
    background-color: #7E99C5;
}

.rejsetider_dark p{
    background-color: #7E99C5;
}

.rejsetider_light{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 20%;

    background-color: #D7E4F9;
}

.rejsetider_light div{
    padding-left: 2%;

    background-color: #D7E4F9;
}

.rejsetider_light div img{
    width: auto;
    height: auto;
    background-color: #D7E4F9;
}

.rejsetider_light p{
    background-color: #D7E4F9;
}

#sidste{
    margin-bottom: 20%;
}

/*sportsaktiviteter*/
.info_dark_klatre{
    display: flex;
    justify-content: center;
    gap: 10%;
    flex-wrap: wrap;

    background-color: #7E99C5;
    padding-top: 5%;
}

.info_dark_klatre h2{
    background-color: #7E99C5;
}

.info_dark_klatre h3{
    color: #D7E4F9;
    background-color: #7E99C5;
}

.info_dark_klatre div{
    padding-left: 2%;
    background-color: #7E99C5;
}

.ptilt_klatre{
    width: 500px;
    Transform: rotate(7deg) translate(10%,-90%);
}

#klatrebilleder{
     display: flex;
     justify-content: center;
     gap:16%;
     flex-wrap: wrap;

   width: 100%;
}

.info_dark_klatre img{
    width: 500px;
    height: auto;

    background-color: #7E99C5;
}

.info_dark_klatre p{
    background-color: #7E99C5;
}

.info_dark_klatre .knap{
   margin-bottom: 20%;
}

.info_dark_klatre img{
    background-color: transparent;
}

/*inspo sites*/
.forsamlingshus_some{
    transform: translate(70%, -500%);
}

/*FOOTER--------------------------------------------------*/
footer{
    padding: 2%;
    background-color: black;

    /*margin-top:5%;*/
    display: flex;
    justify-content: space-between;
}

footer h2{
    font-family: 'avenir', sans-serif;
    font-weight: lighter;
    color: #F1CC5B; 
    font-size: 30;
    background-color: black;
}

footer p{
    font-family: 'avenir', sans-serif;
    font-weight: lighter;
    color: white;
    background-color: black;
}

footer a{
    background-color: black;
}

footer div{
    background-color: black;
}

#ikoner{
    background-color: transparent;
    margin-right: 2%;
    margin-top: 2%;
}

#ikoner:hover{
    transform: scale(1.1);
    transition-duration: 0.3s;
}

#ikoner img{
    background-color: transparent;
}

/*RESPONSIVE----------------------------------------------*/
/*laptop*/
@media screen and (min-width:1408px){
    #tabletmenu{
        display: none;
    }

    #tabletoverskrift{
        display: none;
    }

    .tabletfotos{
        display: none;
    }

    .tablet_mobil{
        display: none;
    }

    .tabletknap{
        display: none;
    }

    .mobilknap{
        display: none;
    }

    .mobilbus_cykel{
        display: none;
    }

    #forside_t{
        display: none;
    }

    #indkob_t{
        display: none;
    }

} 

/*tablet*/
@media screen and (max-width:1408px){
    #laptopmenu{
        display: none;
    }

    footer #ikoner{
        display: none;
    }

    #laptopoverskrift{
        display: none;
    }

    .laptopfotos{
        display: none;
    }

    #ptilt_frivilligbillede{
        display: none;
    }

    .tegning_blomst{
        display: none;
    }

    #frivilligbillede{
        display: none;
    }

    .laptopskrift{
        display: none;
    }

    .kasse{
        display: none;
    }

    .rejsetider_dark .knap{
        display: none;
    }

    .rejsetider_light .knap{
        display: none;
    }

    .bus_cykel{
        display: none;
    }

    #forside_l{
        display: none;
    }

    .knap{
        display: none;
    }

    #indkob{
        display: none;
    }
}   

/*mobil*/
@media screen and (max-width:750px){
    #laptopmenu{
        display: none;
    }

    #tabletmenu{
        display: none;
    }

    footer #ikoner{
        display: none;
    }

    #tabletoverskrift{
        display: none;
    }

    .tabletfotos{
        display: none;
    }

    .laptop_tablet{
        display: none;
    }

    .laptopskrift{
        display: none;
    }

    .kasse{
        display: none;
    }

    .kort{
        display: none;
    }

    .bus_cykel{
        display: none;
    }

    .rejsetider_dark .knap{
        display: none;
    }

    .rejsetider_light .knap{
        display: none;
    }

    .tabletknap{
        display: none;
    }

    #forside_t{
        display: none;
    }

    #indkob_t{
        display: none;
    }
}

/*tablet*/
@media screen and (min-width:750px){
    #mobilmenu{
        display: none;
    }

    #mobiloverskrift{
        display: none;
    }

    .mobilfotos{
        display: none;
    }

    .mobilfoto{
        display: none;
    }

    .kort_mobil{
        display: none;
    }

    .mobilknap{
        display: none;
    }

    #forside_m{
        display: none;
    }

    #indkob_m{
        display: none;
    }

}
